header {
width:100%;
margin: 10px auto;
background-color:rgb(143, 143, 201);
border:2px black;
}

ul {
    list-style-type: none;
    padding: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
 text-align:center;
 font-weight:bold;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    text-align:center;
}

.delete {
    text-align:right;
}
